.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1810px;
}

.u-section-1 .u-list-1 {
  margin-top: 52px;
  margin-bottom: 60px;
  min-height: 835px;
  grid-gap: 21px 21px;
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-template-rows: auto auto;
  margin-left: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.4375rem;
  margin: 0;
}

.u-section-1 .u-line-1 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.4375rem;
  margin: 0;
}

.u-section-1 .u-line-2 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 303px;
  height: 160px;
  object-position: 50% 51.11%;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-list-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.4375rem;
  margin: 0;
}

.u-section-1 .u-line-3 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-3 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-list-item-4 {
  background-size: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.4375rem;
  margin: 0;
}

.u-section-1 .u-line-4 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-4 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-list-item-5 {
  background-size: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.4375rem;
  margin: 0;
}

.u-section-1 .u-line-5 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-list-item-6 {
  background-size: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.4375rem;
  margin: 0;
}

.u-section-1 .u-line-6 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-6 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-list-item-7 {
  background-size: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.4375rem;
  margin: 0;
}

.u-section-1 .u-line-7 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-7 {
  width: 303px;
  height: 160px;
  object-position: 50% 66.04%;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-list-item-8 {
  background-size: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 1.4375rem;
  margin: 0;
}

.u-section-1 .u-line-8 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-8 {
  width: 303px;
  height: 160px;
  object-position: 50% 21.98%;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-list-item-9 {
  background-size: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.4375rem;
  margin: 0;
}

.u-section-1 .u-line-9 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-9 {
  width: 303px;
  height: 160px;
  object-position: 50% 66.24%;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-list-item-10 {
  background-size: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.4375rem;
  margin: 0;
}

.u-section-1 .u-line-10 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-10 {
  width: 303px;
  height: 160px;
  object-position: 50% 26.58%;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

.u-section-1 .u-list-item-11 {
  background-size: auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 1.4375rem;
  margin: 0;
}

.u-section-1 .u-line-11 {
  height: 4px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-11 {
  width: 303px;
  height: 160px;
  margin: 30px auto 0 0;
}

.u-section-1 .u-text-22 {
  font-size: 1.125rem;
  margin: 20px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1778px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 111px;
    min-height: 689px;
    height: auto;
    margin-left: initial;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: auto;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
  }

  .u-section-1 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: auto;
  }

  .u-section-1 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-8 {
    margin-right: auto;
  }

  .u-section-1 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-10 {
    margin-right: auto;
  }

  .u-section-1 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-12 {
    margin-right: auto;
  }

  .u-section-1 .u-line-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-14 {
    margin-right: auto;
  }

  .u-section-1 .u-line-8 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: auto;
  }

  .u-section-1 .u-line-9 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-18 {
    margin-right: auto;
  }

  .u-section-1 .u-line-10 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-10 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-20 {
    margin-right: auto;
  }

  .u-section-1 .u-line-11 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-11 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-22 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2189px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 60px;
    min-height: 990px;
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3812px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 47px;
    margin-bottom: 47px;
    grid-template-columns: calc(100% - 0px);
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4063px;
  }

  .u-section-1 .u-list-1 {
    grid-template-columns: 100%;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 20px;
    padding-right: 20px;
  }
}